<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Journal</title>
  <link rel="stylesheet" href="css/pico.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <style>
    h1{
      margin-top: auto;
    }
  </style>
</head>

<body class="container container-fluid">
<h1>Compose</h1>
<form action="/compose" method="post">
  <label for="title">Title</label>
  <textarea name="title" cols="1" rows="1"></textarea>
  <label for="text">Text</label>
  <textarea name="text" cols="30" rows="10"></textarea>
  <button type="submit">Post</button>
</form>

<%- include('footer') -%>