<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Journal</title>
  <link rel="stylesheet" href="css/pico.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body class="container container-fluid">


  <header>
    <strong>Daily Journal</strong>

  <nav>
    <a class="button-31" href="/"><span>Home</span></a>
    <a href="/about" class="button-31"><span>About</span></a>
    <a href="/contact" class="button-31"><span>Contact</span></a>
  </nav>
</header>