<%- include('header') -%>

  <header>
      <strong>My Journal</strong>

    <nav>
      <a class="button-31" href="/"><span>Home</span></a>
      <a href="/about" class="button-31"><span>About</span></a>
      <a href="/contact" class="button-31"><span>Contact</span></a>
    </nav>
  </header>

  <main>

      <h2>Day <%= post + 1 %></h2>
      <p>
        <%= journal[post] %>
      </p> 

  </main>

<%- include('footer') -%>